# Python 垃圾文件
__pycache__/
*.py[cod]

# 虚拟环境 (绝对不能传)
venv/
.venv/
env/

# 数据库 (本地测试用的，不要传)
*.db
*.sqlite3

# 超大所有CSV数据 (让队友自己下载)
backend/data/*.csv

# 前端垃圾文件 (如果你后面放了前端代码)
node_modules/
dist/
build/

# 编辑器配置
.vscode/
.idea/